PORT=3000
CORS_ORIGIN=http://localhost:4200
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/plotwise

# Optional discrete fields if DATABASE_URL is not set
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=plotwise

TYPEORM_SYNCHRONIZE=false
TYPEORM_MIGRATIONS_RUN=false
DB_SSL=false
DB_SSL_REJECT_UNAUTHORIZED=true